In [1]:
import pandas as pd
import numpy as numpy

from importlib import reload
from tqdm import tqdm_notebook as tqdm

import matplotlib.pyplot
%matplotlib inline

### Local Imports

In [2]:
import pdaactconn as pc
from trialexplorer import AACTStudySet

In [3]:
reload(pc)
reload(AACTStudySet)

In [4]:
ss = AACTStudySet.AACTStudySet(tqdm_handler=tqdm)

In [17]:
ss.list_columns()[:10]

['nct_id',
 'nlm_download_date_description',
 'study_first_submitted_date',
 'results_first_submitted_date',
 'disposition_first_submitted_date',
 'last_update_submitted_date',
 'study_first_submitted_qc_date',
 'study_first_posted_date',
 'study_first_posted_date_type',
 'results_first_submitted_qc_date']

In [6]:
ss.add_constraint("start_date >= '2018-01-01'")
ss.add_constraint("start_date <= '2018-12-31'")

In [7]:
ss.show_constraints()

WHERE 1=1
    AND (start_date >= '2018-01-01')
    AND (start_date <= '2018-12-31')

In [8]:
# remove the 1st constraint
ss.remove_constraint(1)
ss.show_constraints()

WHERE 1=1
    AND (start_date <= '2018-12-31')

In [9]:
# remove the 1st constraint
ss.remove_constraint(1)
ss.show_constraints()

In [10]:
ss.load_studies()

317744 studies loaded!

In [11]:
ss.conn.query("SELECT * FROM temp_cur_studies")

             nct_id
0       NCT04072757
1       NCT03993119
2       NCT03991728
3       NCT03990818
4       NCT04073069
...             ...
317739  NCT00378482
317740  NCT00344331
317741  NCT00193739
317742  NCT00140894
317743  NCT00001337

[317744 rows x 1 columns]

In [12]:
ss._reset_temp_table()

In [13]:
ss.conn.query("SELECT * FROM temp_cur_studies")

Empty DataFrame
Columns: [nct_id]
Index: []

In [14]:
ss._chunk_insert(500)

HBox(children=(IntProgress(value=0, max=636), HTML(value='')))

In [15]:
ss.conn.query("SELECT * FROM temp_cur_studies")

             nct_id
0       NCT04072757
1       NCT03993119
2       NCT03991728
3       NCT03990818
4       NCT04073069
...             ...
317739  NCT00378482
317740  NCT00344331
317741  NCT00193739
317742  NCT00140894
317743  NCT00001337

[317744 rows x 1 columns]

In [16]:
ss.conn.close()